{
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "strict": 0,
    "no-underscore-dangle": 0,
    "indent": [2, 2],
    "no-var": 2,
    "no-eval": 2,
    "no-octal": 2,
    "no-redeclare": 2,
    "no-fallthrough": 2,
    "array-bracket-spacing": [2, "never"],
    "max-nested-callbacks": [2, 3],
    "no-this-before-super": 2,
    "max-depth": [2, 3],
    "max-statements": [2, 100]
  }
}